<div class="base-card @VariantClass @CssClass" style="@BorderRadiusStyle">
    @if (ShowHeader && HeaderContent != null)
    {
        <div class="card-header @HeaderLayoutClass">
            @HeaderContent
        </div>
    }

    <div class="card-body">
        @ChildContent
    </div>

    @if (ShowFooter && FooterContent != null)
    {
        <div class="card-footer @FooterLayoutClass">
            @FooterContent
        </div>
    }
</div>