.card-number {
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 3rem;
    height: 3rem;
    background: var(--secondary-color);
    color: var(--text-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 576px) {
    .card-number {
        top: 1rem;
        left: .7rem;
        width: 1.7rem;
        height: 1.7rem;
        font-size: 1rem;
    }
}
