a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    transition: all 0.3s ease;
}

    a:hover {
        text-decoration: none;
        text-shadow: 0 0 15px var(--secondary-transparent);
        transform: translateY(-5px);
    }
