@page "/"

<PageTitle>Home</PageTitle>

<BaseSection>
<h1>Hello, world!</h1>

Welcome to your new app.
</BaseSection>
<BaseSection>
<BaseCard>
    <HeaderContent>
        <Titel Level="2">
            Test 1234
        </Titel>
    </HeaderContent>
    <ChildContent>
    <TextContent>
        Dies ist ein Test
    </TextContent>
    </ChildContent>
    <FooterContent>
        <Button BorderRadius="5" Variant="ButtonVariant.Success">
                Klicken Sie mich
        </Button>
    </FooterContent>
</BaseCard>
</BaseSection>